*{
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.header_section{
    background-image: url();
}